body {
  height: 90vh;
  width: 100vw;
  /* background-color: beige; */
  /* border: 1px blue solid; */
  background-image: url("../images/lfz-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* header, aside, main {
  border: 1px black solid;
} */

header {
  margin-bottom: 10px;
  text-align: center;
}

.game-area {
  display: flex;
  height: 85%;
  /* border: 1px red solid; */
}

aside {
  /* height: 85%; */
  width: 15%;
  text-align: center;
}



aside .stats {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 5px;
  background-color: lightblue;
  height: 10%;
  /* align-self: center; */
}

main {
  display: flex;
  /* height: 85%; */
  width: 75%;

}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  margin: 5px;
  height: 32%;
  width: 15%;
}


.lfz-card {
  background-image: url("../images/lfz-card.jpg");
}

.js-logo {
  background-image: url("../images/js-logo.png");
}

.front, .back, .lfz-card {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
