body {
  font-family: 'Spectral', serif;
  height: 97vh;
  width: 98vw;
  margin: 0;
  background-image: url("../images/botw/the-legend-of-zelda-breath-of-the-wild-wallpaper-hd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding-bottom: 26px;
  font-size: 1.5rem;
  text-align: center;
}

h1, h2 {
  color: #e5ac1b
}

.game-area {
  display: flex;
  justify-content: space-around;
  height: 78%;
}

aside {
  width: 17%;
  text-align: center;
}

aside .stats {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 8% 10px;
  background-color: lightblue;
  height: 10%;
}

main {
  display: flex;
  width: 75%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  position: relative;
  margin: 0.25%;
  width: 15%;
  transform-style: preserve-3d;
  transition: 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.card:hover {
  box-shadow: rgb(255, 255, 0) 1px 1px 10px 3px;
}

  /***************/
 /* Card Images */
/***************/

.js-logo {
  background-image: url("../images/botw/creatures/BotW_Black_Bokoblin_Model.png");
}

.css-logo {
  background-image: url("../images/botw/creatures/BotW_Blue-Maned_Lynel_Model.png");
}

.html-logo {
  background-image: url("../images/botw/creatures/BotW_Chuchu_Model.png");
}

.mysql-logo {
  background-image: url("../images/botw/creatures/BotW_Golden_Bokoblin_Model.png");
}

.blue-rupee {
  background-image: url("../images/botw/rupees/blue_rupee.png");
}

.green-rupee {
  background-image: url("../images/botw/rupees/green_rupee.png");
}

.php-logo {
  background-image: url("../images/botw/rupees/gold_rupee.png");
}

.react-logo {
  background-image: url("../images/botw/rupees/purple_rupee.png");
}

.gitHub-logo {
  background-image: url("../images/botw/rupees/red_rupee.png");
}

  /*****************/
 /* Card Children */
/*****************/

.front, .back, .tri-force, .js-logo, .gitHub-logo, .html-logo, .docker-logo, .css-logo, .mysql-logo, .node-logo, .php-logo, .react-logo {
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.tri-force { /* card back (tri-force atm)*/
  background-image: url("../images/botw/card_backs/320px-triforce.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}

  /*******************/
 /* Card Animations */
/*******************/

.card-selected {
  animation: glow 1.5s infinite;
}

@keyframes glow {
  0% {box-shadow: 0px 0px 20px 2px rgb(252, 255, 0);}
  50% {box-shadow: 0px 0px 25px 5px rgb(252, 255, 96);}
  100% {box-shadow: 0px 0px 20px 2px rgb(255, 255, 0);}
}

/* Card flip */
.front {
  background-color: #1b3f3f;
  transform: rotateY(180deg);
}

.back, .front {
  /* opacity: .7; */
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY(180deg);
}

/* Card match */
.matched-transition {
  transition: opacity 3s ease-in-out;
}

.matched {
  opacity: 0;
}

  /**********************/
 /* Modals and Pop-Ups */
/**********************/

.start-reveal {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  left: 36.5%;
  top: 43%;
  width: 35%;
  height: 15%;
  background-color: #00c3d2;
  color: rgb(255, 252, 2);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.start-reveal:hover, button.monk-child:hover, .try-again:hover {
  box-shadow: rgb(255, 255, 0) 1px 1px 10px 3px;
}

.win-message {
  position: relative;
  left: 15%;
  color: rgb(255, 252, 2);
}

.start-shadow {
  position: absolute;
  width: 100%;
  height: 85%;
  opacity: 0.2;
}

.win-container {
  font-size: 1.5rem;
  width: 50%;
  height: 50%;
  background-image: url(../images/botw/The_Legend_of_Zelda_Breath_of_the_Wild_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-21%,-59%);
  display: none;
}

.monk {
  position: absolute;
  height: 52%;
  width: 23%;
  top: 10%;
  left: 29%;
  background-image: url(../images/botw/monk/monk.png);
  background-size: contain;
  background-repeat: no-repeat;
}

button.monk-child {
  width: 46%;
  text-align: center;
  position: relative;
  font-size: 1.25rem;
  top: 100%;
  left: 25%;
  background-color: #02c1d3;
  color: white;
  border-radius: 8%;
}

.try-again {
    position: absolute;
    left: 33%;
    top: 22%;
    transform: translate(-50%,-50%);
    background-color: white;
    border: 1px solid gray;
    padding: 5px;
    display: none;
}

.see-through {
  opacity: 0;
}

.hidden {
  display: none;
}
